$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;

// gradient animation
@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: $input-background;
  overflow: hidden;
  svg{
    width: 20px;
    height: 100%;
    fill:#7881A1;
    background-color: black;
    padding:5px;
    transform: scale(2.3) translate(4px);
    cursor: pointer;
    transition: 200ms ease-in-out all;
    &:hover{
      fill: white;
      padding: 4.5px;
    }
  }
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}

.webflow-style-input input {
  flex-grow: 1;
  color: $input-text-active;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    color: $input-text-inactive;
  }
}

.webflow-style-input button {
  color:  $input-text-inactive;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color .25s;
  &:hover {
    color: $input-text-active;
  }
}

.generate{
  display: flex;
 height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  .heading{
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
    animation: flicker 1.5s infinite alternate;
  }
  .generateButton{
    overflow: hidden;
    height: 80px;
  }
}



@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(0, 4, 255),
      0 0 80px rgb(0, 4, 255),
      0 0 90px rgb(0, 4, 255),
      0 0 100px rgb(0, 4, 255),
      0 0 180px rgb(0, 4, 255);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.webflow-style-input.removeRGB{
  &::after{
  display: none;
  }
}